@if(post(); as post) {
   <app-avatar-circle
      class="size32"
      [avatarUrl]="post.author.avatarUrl"
   ></app-avatar-circle>

   <main class="post-body">
      <div class="post-header">
         <strong class="post__author">
            {{ post.author.firstName}} {{ post.author.lastName }}
            <span class="post__created-at">{{ post.createdAt | dateDelta }}</span>
         </strong>
      </div>
      <div class="post-content medium-text">{{ post.content }}</div>

      <div class="post-counters ">
         <span class="comment-amount">
            <span class="comments-length">Comments: {{ comments().length }}</span>
         </span>
         <span class="likes-amount">
            <span class="likes-length">Likes: {{ post.likes }}</span>
         </span>
      </div>

      <div class="post__comments-wrapper">
         @for(comment of comments(); track comment.id) {
            <app-comment [comment]="comment"></app-comment>
         }
      </div>

      <app-post-input
         class="comment"
         [avatarUrl]="me()!.avatarUrl"
         (created)="handleCommentCreate($event)"
      ></app-post-input>
   </main>
} 
