:host {
   position: relative;
}

.suggestions-dropdown {
   position: absolute;
   top: calc(100% - 16px);
   left: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   max-height: 200px;
   overflow-y: scroll;
}

.suggest-btn {
   display: block;
   background: var(--light-color);
   color: var(--dark-color);
   border-bottom: 1px solid var(--dark-color);
   padding: 10px 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
   cursor: pointer;

   &:hover {
      background: var(--primary-color);
      color: var(--light-color);
   }
}