<app-tt-input [formControl]="innerSearchControl">Address filder:</app-tt-input>


@if (suggestions$ | async; as suggestions) {
   @if (isDropdownOpened()) {
      <div class="suggestions-dropdown">
         @for (suggest of suggestions; track suggest) {
            @if ( suggest.data.city || suggest.data.street || suggest.data.house) {
               <button
                  (click)="onSuggestionPick(suggest)" 
                  class="suggest-btn"
               >
                  {{ (suggest.data.city ? suggest.data.city + ' ' : '') + 
                     (suggest.data.street ? suggest.data.street + ' ' : '') + 
                     (suggest.data.house ? suggest.data.house : '') }}
               </button>
            }
         }
         <!-- @for (suggest of suggestions; track suggest) {
            <button
               (click)="onSuggestionPick(suggest)" 
               class="suggest-btn"
            >{{ suggest }}</button>
         } -->
      </div>
   }
   
}

<div [formGroup]="address">
   <app-tt-input formControlName="city">City:</app-tt-input>
   <app-tt-input formControlName="street">Street:</app-tt-input>
   <app-tt-input formControlName="building">Builing:</app-tt-input>   
</div>



