<div #messagesContainer class="messages-container">
   @if (messages(); as messages) {
      @for (message of messages; track message) { 
         @if (isNewDay(message.createdAt)) {
            <div class="medium-text date-divider">{{ message.createdAt | date: "dd.M.y"  }}</div>
         }
         <app-chat-workspace-message [message]="message"></app-chat-workspace-message>
      }
   }
</div>

<app-message-input class="message-input" (created)="createMessage($event, chat().id)"></app-message-input>



